---
import Layout from "../layouts/Layout.astro";
import ComingSoonSection from "../components/react-components/ComingSoonSection.jsx";
---

<Layout>
  <div class="bg-background text-primary bg-grid-texture">
    <main class="min-h-screen flex items-center justify-center">
      <div class="container mx-auto py-32 px-4 sm:px-6 lg:px-8">
        <ComingSoonSection
          client:visible
          title="Halaman TPQ Lukluk Abdul Ghoni"
          description="Halaman TPQ Lukluk Abdul Ghoni sedang dalam pengembangan. Kami akan segera memperbarui informasi terkini untuk Anda."
        />
      </div>
    </main>
  </div>
</Layout>
