---
import LottieSearch from "../components/react-components/LottieSearch.jsx";
---

<div
  class="hero h-[800px] lg:min-h-screen"
  style="background-image: url(https://picsum.photos/1080);"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-6xl pt-24 lg:pt-32 gap-6 flex flex-col items-center">
      <h1 class="mb-3 lg:mb-6 text-4xl lg:text-7xl font-bold lg:leading-snug">
        Yayasan Darun Nasihah
        <br />
        Siliragung
      </h1>
      <p class="mb-4 text-4xl font-bold text-border tracking-wide">
        Islami, Qur'ani, Rabbani
      </p>
      <p class="mb-12 font-medium text-base">
        Kami memfokuskan diri dalam pembinaan mahasiswa khususnya dan pembinaan
        umat secara umum.
      </p>
      <button
        class="btn bg-btn hover:bg-hvrbtn border-border rounded-full px-6 flex justify-between items-center gap-6 !py-6"
      >
        <LottieSearch client:load />
        Lihat Selengkapnya</button
      >
    </div>
  </div>
</div>
