---
import LottieSearch from "../components/react-components/LottieSearch.jsx";
import DropdownMenu from "../components/react-components/DropdownMenu.jsx";
import logoDns from "../assets/photos/logodnstrans.png";
---

<div
  class="navbar shadow-sm fixed z-50 bg-txtonnavy/10 backdrop-blur-sm border-b-2 border-border px-6 lg:px-24 py-4"
>
  <div class="navbar-start">
    <!-- Logo DNS -->
    <a href="" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src={logoDns.src} class="h-20 aspect-[1/1]" alt="DNS Logo" />
    </a>
  </div>

  <div class="navbar-center hidden lg:flex">
    <ul
      class="lg:inline-flex gap-2 items-center justify-between px-1 text-black font-medium text-base"
    >
      <li
        class="rounded-lg bg-transparent border-transparent shadow-none hover:shadow-sm hover:bg-txtonnavy/50 hover:text-border text-txtonnavy btn"
      >
        <a>Tentang Kami</a>
      </li>
      <li
        class="rounded-lg bg-transparent border-transparent shadow-none hover:shadow-sm hover:bg-txtonnavy/50 hover:text-border text-txtonnavy btn"
      >
        <details>
          <summary class="relative">Lembaga Pendidikan</summary>
          <ul
            class="absolute p-2 bg-slate-100/50 backdrop-blur-lg border-b-2 border-slate-200"
          >
            <li
              class="rounded-lg bg-transparent border-transparent shadow-none hover:shadow-sm hover:bg-txtonnavy/50 hover:text-border text-txtonnavy btn"
            >
              <a>Raudhotul Athfal</a>
            </li>
            <li
              class="rounded-lg bg-transparent border-transparent shadow-none hover:shadow-sm hover:bg-txtonnavy/50 hover:text-border text-txtonnavy btn"
            >
              <a>Pondok Pesantren</a>
            </li>
          </ul>
        </details>
      </li>
      <li
        class="rounded-lg bg-transparent border-transparent shadow-none hover:shadow-sm hover:bg-txtonnavy/50 hover:text-border text-txtonnavy btn"
      >
        <a>Laporan</a>
      </li>
      <li
        class="rounded-lg bg-transparent border-transparent shadow-none hover:shadow-sm hover:bg-txtonnavy/50 hover:text-border text-txtonnavy btn"
      >
        <a>Kontak</a>
      </li>
    </ul>
  </div>

  <div class="navbar-end flex items-center justify-end gap-4 w-auto pl-8">
    <label class="lg:hidden w-6 aspect-square flex items-center justify-center">
      <LottieSearch client:load />
    </label>

    <div class="dropdown lg:hidden">
      <DropdownMenu client:load />
    </div>

    <label
      class="input bg-transparent border-2 rounded-3xl border-border focus:!ring-0 focus:!ring-transparent focus:!border-0 hidden lg:flex lg:!items-center"
    >
      <LottieSearch client:load />
      <input
        type="search"
        class="grow border-0 focus:ring-0 text-border placeholder-slate-800"
        placeholder="Search"
        autocomplete="off"
      />
    </label>
  </div>
</div>
