---
import "../styles/global.css";
import FloatingButtons from "../components/react-components/FloatingButtons.jsx";
import ScrollSmootherInit from "../components/react-components/ScrollSmootherInit.jsx";
import Navbar from "../components/react-components/Navbar.jsx";
import logoDns from "../assets/photos/logodnstrans.png";
---

<!doctype html>
<html lang="id" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href={logoDns.src} />
    <meta name="generator" content={Astro.generator} />
    <title>YDNS | Siliragung</title>
  </head>
  <body class="bg-color-background">
    <Navbar client:load />
    <ScrollSmootherInit client:load />
    <FloatingButtons client:load whatsappNumber="6282141423737" />
    <!-- Only render wrapper structure if not on mobile -->
    <div id="smooth-wrapper">
      <div id="smooth-content">
        <slot />
      </div>
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
  }
</style>
